.welcome-image-container {
  transition-duration: 0.4s;
  transition-property: background-color, border-color;
  background-size: cover;
  background-position: top;
  width: 1377px;
  height: 918px;
}