{% extends 'base.html.twig' %}

{% block body %}
<div class="row welcome-image-container" data-src="/assets/images/main/welcome.jpg">
  <div id="comingSoon"><span class="text-highligh">{{ 'app.welcome.comming' | trans }}</span>
    {{ 'app.welcome.sooon' | trans }}
  </div>

</div>
  <style>
    #comingSoon{
      width: 100%;
      color: #333333;
      height: 918px;
      margin: 0 auto;
      overflow: hidden;
      padding: 10px 0;
      align-items: center;
      justify-content: space-around;
      display: flex;
      float: none;
      font-size: 90px;
    }
    .text-highligh {
      font-family: 'Playfair Display', serif;
    }
  </style>
{% endblock %}
